<div class="jumbotron">
    <h1>Objective</h1>
    <p class="lead">This project is to create a website to validate and store csv files into RDBMS and 
        display the persisted contents into browser. There are two ways to upload data:</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Using Website</h2>
        <p>Access the "upload file" website and inform the CSV file that will be stored.</p>
    </div>
    <div class="col-md-6">
        <h2>Using API</h2>
        <p>Using RestAPI with post command to add the CSV file</p>
    </div>
</div>
